<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LeyendasApp"
        tools:targetApi="31">

        <!-- Actividad principal de la aplicación -->
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad Home (Pantalla de inicio con DrawerLayout) -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:label="@string/app_name"
            android:parentActivityName=".Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.leyendasapp.Login" />
        </activity>

        <!-- Actividad de racha de puntos -->
        <activity
            android:name=".PointsStreakActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label=""/>

        <!-- Actividad de Mapas y GPS -->
        <activity
            android:name=".MapsAndGpsActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>

    </application>

</manifest>
